body
{
  font-family: Tahoma, sans-serif;
  color: #00AFB5;
  background-color: #3a82c2;
}

header h1
{
  font-family: courier, serif;
  text-align: center;
  color: #E4572E;
}
main h1
{
  font-family: courier, serif;
  text-align: center;
  color: #a50e0e;
}
main h2
{
  font-family: courier, serif;
  text-align: center;
  color: #a50e0e;
}
main figure
{
  font-family: courier, serif;
  text-align: center;
  color: #a50e0e;
}
main capfigure
{
  font-family: courier, serif;
  text-align: center;
  color: #a50e0e;
}
main h3
{
  font-family: courier, serif;
  text-align: center;
  color: #328811;
}
main p
{
    font-family: courier, serif;
    text-align: center;
    color:#a50e0e;
}
footer
{
    font-family: courier, serif;
    text-align: center;
    color:#a50e0e;
}