body
{
  font-family: Tahoma, sans-serif;
  color: #00CBD2;
  background-color: #102D48;
}
nav{
  font-family: courier, serif;
  text-align: center;
}
a:link , a:visited{
  color:#FE6F00;
}
a:hover{
  color:#FB6C6C;
  background-color: transparent;
  text-decoration: underline;
}
header h1
{
  font-family: courier, serif;
  text-align: center;
  color: #FE6F00;
}
main h1
{
  font-family: courier, serif;
  text-align: center;
  color: #FB6C6C;
}
main h2
{
  font-family: courier, serif;
  text-align: center;
  color: #FB6C6C;
}
main figure
{
  font-family: courier, serif;
  text-align: center;
  color: #FB6C6C;
}
main h3
{
  font-family: courier, serif;
  text-align: center;
  color:#FB6C6C;
}
main p
{
    font-family: courier, serif;
    text-align: center;
    color:#FB6C6C;
}
main con1
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: courier, serif;
  color:#FB6C6C;
}
main con2
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: courier, serif;
  color:#FB6C6C;
}
main con3
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: courier, serif;
  color:#FB6C6C;
}
main con4
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: courier, serif;
  color:#FB6C6C;
}
main sig
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: courier, serif;
  color:#FB6C6C;
}
main ut
{
  font-family: courier, serif;
  color:#FB6C6C;
}
ol
{
  font-family: courier, serif;
  color:#FB6C6C;
}
table
{
  font-family: courier, serif;
  color: #FB6C6C;
}
table tr:nth-child(even)
{
    background-color: #22e2e9;
}

th
{
  background-color: #10069b;
}
pf
{
  font-family: courier, serif;
  text-align: center;
  color:#8904c7;
}
form
{
  font-family: courier, serif;
  text-align: center;
  color:#8904c7;
}
footer
{
    font-family: courier, serif;
    text-align: center;
    color:#a50e0e;
}