body
{
  font-family: Helvetica, Georgia;
  color: #1A3D42;
  background-color: #DBD4D3;
  margin-left: 100px;
	margin-right: 100px;
}
nav{
  font-family: courier, serif;
  text-align: center;
}
a:link , a:visited{
    color:#413441;
}
a:hover{
    color:#fa5959;
    background-color: transparent;
    text-decoration: underline;
}
header h1
{
  font-family: courier, serif;
  text-align: center;
  color: #413441;
}
p
{
    text-align: center;
    font-family: Helvetica, Georgia;
    color: #413441;
}
.figure
{
  text-align: center;
}