body{
    background-color: #56445D;
    font-family: Tahoma, sans-serif;
    color: #C3C3C3;
}
main h1{
    text-align: center;
}
main figure{
    text-align: center;
}
.form
{
text-align: center;
background-color: #FF8484;
border-color: #000000;
border-style: inset;
margin-left: 240px;
margin-right: 240px;
padding: 10px;
color: #373737;
}
main result{
    text-align: center;
}
a:link , a:visited{
    color: #C3C3C3;
    text-align: center;
}
a:hover{
    color:#FB6C6C;
    background-color: transparent;
    text-decoration: underline;
  }
footer{
    text-align: center;
}