    <header>
        <h1>
            Ethan Kalika 🐉 ITIS 3135 🐉 Emerald Kinkajou 
        </h1>
        <nav><strong>
            <a href = "index.html">Homepage</a> 🐉 
            <a href = "Introduction.html">Introduction page</a> 🐉 
            <a href = "contract.html"> Contract page</a> 🐉 
            <a href = "https://webpages.charlotte.edu/ekalika/">UNCC Homepage</a> 🐉
            <a href = "tables.html">HTML Tables</a> 🐉
            <a href = "forms.html">Forms</a> 🐉
            <a href = "brand-emerald-kinkajou.html">Brand</a> 🐉
            <a href = "CrApPy pAge$$.htm">Crappy page</a> 🐉
            <a href = "website_evaluations.html">Evaluation</a> 🐉
            <a href = "firstscripts.html">First Scripts</a> 🐉
            <a href = "polygon.html">Polygon</a> 🐉
            <a href = "calculator_try.html">Calculator try</a> 🐉
            <a href = "calculator.html">Calculator</a> 🐉
            <a href = "accessibility/activity_accessibility.html">Accessibility</a> 🐉
            <a href = "arrays.html">Arrays</a> 🐉
            <a href = "slideshow.html">Slideshow</a> 🐉
            <a href = "Project/templateproject.html">Template Project</a> 🐉
            <a href = "Project/index.html">Project</a> 🐉
            <a href = "hobby/index.html">Midterm</a> 🐉
            <a href = "activity10.html">Activity10</a> 🐉
            <a href = "activity11.html">Widget</a> 🐉
            <a href = "activity12.html">Carousel</a> 🐉
            <a href = "peerreview.html">Peer Review 1 and 2</a> 🐉
            <a href = "Activity13/kalika-Activity13.html">XML to JSON</a> 🐉
            <a href = "Activity14/kalika-Activity14.html">Load Speaker Data</a> 🐉
            <a href = "Activity15/kalika-Activity15.html">Expanded JSON</a>
        </strong></nav>
    </header>