<!DOCTYPE html>
<html lang="en-US">
    <header>
        <h1>
            Ethan Kalika 🥷 ITIS 3135 🥷 Emerald Kinkajou 
        </h1>
        <nav><strong>
            <a href = "index.html">Homepage</a> 🥷 
            <a href = "Introduction.html">Introduction page</a> 🥷 
            <a href = "contract.html"> Contract page</a> 🥷 
            <a href = "https://webpages.charlotte.edu/ekalika/">UNCC Homepage</a> 🥷
            <a href = "tables.html">HTML Tables</a> 🥷
            <a href = "forms.html">Forms</a> 🥷
            <a href = "brand-emerald-kinkajou.html">Brand</a> 🥷
            <a href = "CrApPy pAge$$.htm">Crappy page</a> 🥷
            <a href = "website_evaluations.html">Evaluation</a>
        </strong></nav>
    </header>
</html>