<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
           background-color: #D42A32;
           color: #FFFFFF;
        }
    </style>
</head>
<body>
    {% block content %}
    <h1>Student Details</h1>
    <table>
    {%for key,value in studentOrganisationDetails.items()%}
        <p>{{key}}:{{value}}</p>
    {%endfor%}
    </table>
    {% endblock %}
</body>
</html>